/* .movie:hover{
    transform: scale(1.01);
} */



.showcase__movie__image{
    display:block;
}

.showcase__movie__image:hover{
    transform:scale(1.04);
    transition:transform 0.01s ease-in-out;

}




.showcase__movie__title{
    font-size:1.2em;
    font-weight: 400;
    color:rgb(44, 35, 35);
    text-decoration: none !important;

}