:root{
  --primary-color:#090e13;
  --secondary-color:#18212a;
  --font-primary:#fff;
  --font-secondary:#73b5f3;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* a{
  text-decoration: none;
} */

body{
  background-color: var(--font-primary);
}
.container{
  margin:0 3em;
}